.spinner {
    $size: 128px;
    $stroke-width: 12px;

    position: relative;
    height: $size;
    width: $size;
    float: left;
    margin: 10px;

    .number {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* https://codepen.io/xgad/post/svg-radial-progress-meters */
    .graph {
        width: $size;
        height: $size;
        transform: rotate(-90deg);

        /* https://dockyard.com/blog/2018/10/24/how-to-use-css-variables-for-svg-gradients */
        .gradient-0 {
            stop-color: red;
            stop-opacity: 0.7;
        }
        .gradient-50 {
            stop-color: yellow;
            stop-opacity: 0.9;
        }
        .gradient-100 {
            stop-color: green;
            stop-opacity: 1;
        }

        circle {
            $r: ($size/2) - ($stroke-width/2);
            cx: $size/2;
            cy: $size/2;
            r: $r;
            fill: none;
            stroke-width: $stroke-width;

            $fullPct: 2 * 3.14159 * $r;
            $onePct: $fullPct / 100;
            stroke-dasharray: $fullPct;

            &.circle1 {
                clip-path: polygon(-50% -50%, -50% 50%, 150% 50%, 150% -50%);
                stroke: url('#gradient1');
            }
            &.circle2 {
                clip-path: polygon(-50% 150%, -50% 50%, 150% 50%, 150% 150%);
                stroke: url('#gradient2');
            }

            // 100 increments should be precise enough
            @for $i from 0 through 100 {
                &.fill-#{$i} {
                    stroke-dashoffset: $onePct * (100 - $i);
                }
            }
        }
    }
}